:root {
    --primary-color: rgb(73, 118, 215); 
    --button-color: #BD93F9;
    --foreground-color: #F8F8F2; 
    --background-color: #282A36; 
    --ui-bg-color: #44475A; 
    --secondary-color: pink;
    --navbar-color: #6272A4;
    --water-color: #4a69c6;
    --stop-number: rgb(237, 87, 23);
}


html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--background-color) !important;
    color: var(--foreground-color);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);

}

/* Navbar styles */
#navbar {
    width: 98%;
    height: 10%;
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: var(--navbar-color);
    border-radius: 25px 25px 0 0 ;
    border-bottom: solid 10px var(--navbar-color);

}

.navbar-button {
    display: inline-flex;
    width: 29%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px  black;
    font-size: 30px;
    color: var(--button-color);
}

.navbar-button:active {
    border-bottom: solid 1px white;
    color: aliceblue;
}

/* Sections styles */
.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88%;
    width: 100%;
    background-color: var(--background-color);
}

#search-bar-div{
    width: 90%;
    height: 3em;
    border: solid 1px black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    background-color: var(--ui-bg-color);
}

#search-bars{
    border: 1px black;
    width: 70%;
    height: 98%;
    background-color: var(--ui-bg-color);
}

#search-bars > hr{

    margin: 0;

}

.search-bar{
    display: block;
    width: 100%;
    height: 48%;
    font-size: 14px;
    border: none;
    background-color: var(--ui-bg-color);
    color: var(--foreground-color);
    
}

#search-bar-btn{
    width: 28%;
    height: 100%;
    border-radius: 0 10px 10px 0;
    border: none;
    color: white;
    background-color: var(--button-color);
}

#search-bar-btn:active{
    background-color: blueviolet;

}

#search-hr{
    margin-left: -12px;
    width: 100%;
}

#select-route-div{
    border: 1px white;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#select-route{
    width: 70%;
    height: 2em;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    color: var(--primary-color);
}

#select-route-btn{
    background-color: var(--button-color);
    color: var(--foreground-color);
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;

}

.fa-solid{
    color: var(--foreground-color) !important;
}

.hidden {
    display: none !important;
}

#map{
    width: 90%;
    height: 300px;
    border:  1px black;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--ui-bg-color);

}

#routes-info-div{
    width: 90%;
    border: 1px white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin-bottom: 40px;
}

.route-info-row{
    display: inline-flex;
    direction: row;
    width: 100%;
    height: fit-content;
    border: 1px blue;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}


.route-label, .route-p{
    display: inline-flex;
    padding: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100%;
}

.route-label{
   
    width: 30%;
    border:  1px red;
    border-radius: 5px 0 0 5px;
    background-color: var(--primary-color);
   

}

.route-p{
    width: 70%;
    border:  1px green;
    border-radius: 0 5px 5px 0;
    background-color: var(--ui-bg-color);

}

#stops-details{
    background-color: var(--ui-bg-color);
    width: 100%;
    border-radius: 5px;
    height: fit-content;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 1px;

}

#summary-stop-details{
    border:  1px white;
    color: var(--button-color);
    text-align: center;
    width: 100%;
}

.stops-label{
    border: 1px white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--background-color);

}

.stop-number{
    border-radius: 50%;
    height: 1em;
    width: 1.2em;
    padding: 4px;
    padding-bottom: 8px;
    font-size: 25px;
    background-color: var(--stop-number);
    text-align: center;
    font-weight: 700;
}

.stop-line{
    color: var(--primary-color);
    letter-spacing: -4px;
    font-weight: 700;
    font-size: 30px;
}

.stop-name{
    font-size: 18px;
    font-weight: 500;
}

#start-trip-btn{
    width: 90%;
    height: 2em;
    font-size: 30px;
    border-radius: 5px;
    background-color: var(--button-color);
    color: var(--foreground-color);
}

#start-trip-btn:disabled{
    color: var(--navbar-color);
    background-color: var(--ui-bg-color);
}

/* Media query para pantallas más grandes que un smartphone */
@media (min-width: 600px) {

    html{
        background-color: rgb(38, 38, 38);
    }

    body {
        max-width: 390px;
        max-height: 844px;
        margin: auto; /* Centra el body en la pantalla */
        border: solid 1px black;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: whitesmoke;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #navbar{
        max-width: 390px;
        border-radius: 25px;
        margin: 0;
    }

    #map{
        height: 400px;
    }
}

